<style>
h1, h2, h3{
    font-family: "Rubik","Poppins","Hel­vetica",Arial,sans-serif;
}

nav:not(.nav-fixed) .logo a{
    display: none;
}

header, footer, nav.nav-fixed{
    background: linear-gradient(to top, #1a001a, #0C000C );
}

nav:not(.nav-fixed) {
    background: transparent;
}

nav * {
    color: white;

}

nav a:hover, footer i:hover, .about a:hover, .about a:hover *{
    color: #AC84AC;
}

.about a {
    background-image: linear-gradient(to top, #AC84AC, #AC84AC );

}

.gallery img {
    max-height: 300px;
    padding: 4rem;
}

span.cursor{
    display: none;
}

.overlay a:hover{
    color: #AC84AC;
}

input[type="submit"], textarea[type="submit"]{
    background: linear-gradient(to top, #1a001a, #0C000C );
}

input[type="submit"]:hover, textarea[type="submit"]:hover{
    background: linear-gradient(to top, #1a001a, #0C000C );
}

footer *{
    color: white
}



</style>
<link rel="stylesheet" 
    href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" 
integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" 
crossorigin="anonymous">